
#title1{
    color: grey;
    text-align: center;
}

.td_left{
    text-align: right;
    width: 100px;
    height: 40px;
}
.td_right{
    padding-left: 40px;
}
#username{
    width: 251px;
    height: 30px;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding-left: 5px;
}
#password{
    width: 251px;
    height: 30px;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding-left: 5px;
}
#birthday{
    width: 251px;
    height: 30px;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding-left: 5px;
}
#submit{
    background-color: #FFD026;
    text-align: center;
    width: 150px;
    height: 40px;
    font-size: 15px;

}


